@import "../../../../../utils/styles/globalVariables.scss";
.contentContainer {
    background-color: $background-text;
    padding-bottom: 100px;
    min-height: 80vh;
    width: 100%;
    display: flex;
    margin-top: 80px;
    flex-flow: column;
    max-height: 100vh;
    overflow-y: scroll;
    scrollbar-color: $llamar $llamar;
}
::-webkit-scrollbar-track {
    background: $background-text;
    }
::-webkit-scrollbar-thumb {
    background-color: $llamar; /* color del thumb (la barra que se mueve) */
}
