@import "../../../../../utils/styles/globalVariables.scss";
.contentContainer{
    background-color:$background-text ;
    padding-top: 50px;
    width: 100%;
    min-height: 40vh;
    display: flex;
    margin-top: 80px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}