@import "../../../../../utils/styles/globalVariables.scss";
.dayStep {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    .stepTitle {
        background-color: $llamar;
        width: 140px;
        height: 30px;
        font-size: 1.2rem;
        color: white;
        display: flex;
        justify-content: center;
        padding-top: 5px;
        border-radius: 10px;
        margin-bottom: 12px;
    }
    .stepContent {
        width: 80%;
        margin-bottom: 12px;

        .dayStepSection{
            background-color: $background-text-black;
            border-radius: 5px;
            padding: 15px;
            border: 2px solid $llamar;

            h2{
                color: $text-color-2;
                border-bottom: 1px solid black;
            }
            p{
                color: $text-color-2;
            }
            .importantMessage{
                background-color: rgb(253, 87, 87);
                padding: 5px;
                margin-bottom: 0px;
                color:rgba(0, 0, 0, 0.712);
                font-weight: 600;
            }
            .obtainedItem{
                background-color: rgb(103, 223, 133);
                padding: 5px;
                color:rgba(0, 0, 0, 0.712);
                font-weight: 600;
                
            }
        }
    }
}
