.AfkModule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    .image-afk{
        position: relative;
        width: 100%;

    }
    .stop-afk{
        position: absolute;
        height: 80px;
        width: 80px;
        border-radius: 50px;
    }
}
