.AppHeader {
    height: 40px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background-color: rgb(29, 44, 84);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    h3 {
        color: white;
    }
    .button-group {
        display: flex;
        justify-content: space-evenly;
        width: 10%;
        .closeButton.ant-btn-primary {
            background-color: rgb(159, 54, 115);
            -webkit-app-region: no-drag;
            &:hover{
                background-color: rgb(55, 6, 35);
            }
        }
        .settingsButton.ant-btn {
            background-color: rgb(109, 109, 109);
            -webkit-app-region: no-drag;
            &:hover{
                background-color: rgb(37, 37, 37);
            }

        }
    }
}
