.module-container {
  height: 150px;
  display: flex;
  justify-content: center;
  width: 25%;
  margin-top: 0.35rem;
  
}
.module-container-full{
  display: flex;
  align-items: center;
  justify-content: center;
  
  .back-button{
    position: absolute;
    top: 50px;
    left: 15px;
    
  }
}
.module-manager {
  display: flex;
}

