@import "../../../../utils/styles/globalVariables.scss";
$font-path: "../../../../assets/fonts/Fontsona4Golden.ttf";
.personaModule {
    src: url($font-path) format("truetype");
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    font-family: Fontsona4Golden ;
  

    .currentDay {
        position: absolute;
        top: 50px;
        right: 50px;
        background-color: $background-text-black;
        color: $text-color-2;
        font-size: 1.4rem;
        height: 110px;
        width: 110px;
        border-radius: 50%;
        display: flex;
        border: 3px solid $llamar;
        justify-content: center;
        align-items: center;
       
        h2 {
            padding-top: 18px;
            font-weight: 700;
        }
    }

    .personaTitle {
        position: absolute;
        left: 30%;
        top: 3%;
        background-color: $background-text-black;
        color: $text-color-2;
        font-size: 2rem;
        border-radius: 2%;
        padding: 25px 60px;
        transform: rotate(6deg);
        font-weight: 700;
    }
}

.customBG {
    background-color: $background-color;
}
